body{
    background-image: url(a62.png);
}
header{
    margin: 1em 1em 0em 1em;
    padding: 0em 1em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: black;
    grid-column: span 6;
}
footer{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: white;
    text-align: center;
    background-color: red;
    border-top:2px black solid;
    padding: 0em 2em;
    grid-column: span 6;    
}
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    grid-column: span 5;
    margin-right: 1em;
}
a{
    font-weight: bold;
    text-decoration: none;
    color:red;

}
a:hover{
    color:blue;
    text-decoration: underline;
}
nav {
    grid-column: span 1;
    
    font-family: Arial, Helvetica, sans-serif;  
   
  }
nav li a {
    width: 150px;
    display: block;
    background-color: red;
    padding: 1em;
    margin: 1em;
    color: white;
    font-weight: normal;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    
    padding: 0em;
}
nav li a:hover{
    color:white;
    background-color: darkred;
    text-decoration: none;
}
#Wall{
    float:left;
    margin-right:1em;
    padding:1em;
    border: 2px solid black;

}
#Bpara{
    font-weight: bold;
}
#griddy{
    margin: 1em auto;
    border: 2px black solid;
    width: 956px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6,1fr)
}
h1{
    font-weight: normal;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px black solid;
}
