


#PageTitle{

    color:rgb(149, 10, 10);
    background-color: rgb(255, 195, 195) ;
}

#lvl200{
    background-color: rgba(202, 42, 42, 0.589);
}

#lvl300{
    background-color: rgb(235, 57, 48);
}

.important{
    color: red;
}
.Sequence{
    color:rgb(153, 51, 107);
}

a{
    color:red;
}

a:visited{
    color:green;
}
a:hover{
    color:yellow;
}